<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470585201806-5j2hbi3vig2eg769qf53un6evjj3rtv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470585201806-5j2hbi3vig2eg769qf53un6evjj3rtv6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFcomY1kZCkWg1NZ2LFj5DIJ4D5jUdvhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>470585201806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>colman.Chuparty</string>
	<key>PROJECT_ID</key>
	<string>chuparty-2fff2</string>
	<key>STORAGE_BUCKET</key>
	<string>chuparty-2fff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470585201806:ios:edee1f0aff625c9c8ce5df</string>
	<key>DATABASE_URL</key>
	<string>https://chuparty-2fff2.firebaseio.com</string>
</dict>
</plist>